video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .popular-container {
    width: 200px;
    margin: 1rem;
    text-align: center;
  }
  .popular-container img{
    min-width: 100px;
    min-height: 200px;
     /* width: 200px; */
  }
  
  .popular-container > h1 {
    color: black;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .popular-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .popular-btns {
    margin-top: 32px;
    color: #fff;
  }
  
  .popular-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .popular-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .popular-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .popular-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  