.sidebar {
  flex: 1;
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color:white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  font-weight: 600;
}



.sidebarItem > p {
  padding: 30px;
}





.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
}
.img{
  width: 90px;
    height: 20px;
    
    display: block;
}
.circular{
  border-radius: 50%;
  width: 50px;
  height: 20px;
  padding-right: 90px;
}

.progress{
  width: 80%;
  height: 30px; 

}





