
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  .wrapper{
    display: flex;
    overflow-x: auto;
    width: 75%;
  }
  
  .Trailers-container {
   
    width: 300px;
    margin: 5rem;
    text-align: center;
   
  }
  .Trailers-container img{
   min-width: 450px;
   height: 250px;
    /* width: 200px; */
  border-radius:  5%;  
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  
  }
  .trailer-container hover img {
    -webkit-transform: scale(2);
    transform: scale(1.3);
  }
  
  
  .trailer-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .trailer-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .trailer-btns {
    margin-top: 32px;
    color: #fff;
  }
  
  .trailer-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .trailer-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .trailer-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .trailer-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  